asttokens==2.4.1
beautifulsoup4==4.12.2
Brotli==1.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
comm==0.2.0
debugpy==1.8.0
decorator==4.4.2
executing==2.0.1
ffmpeg-python==0.2.0
future==0.18.3
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
ipykernel==6.27.1
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.1
matplotlib-inline==0.1.6
moviepy==1.0.3
mutagen==1.47.0
nest-asyncio==1.5.8
numpy==1.26.2
packaging==23.2
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.1.0
proglog==0.1.10
prompt-toolkit==3.0.43
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pycryptodomex==3.19.0
Pygments==2.17.2
python-dateutil==2.8.2
pytube==15.0.0
pyzmq==25.1.2
requests==2.31.0
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
urllib3==2.1.0
wcwidth==0.2.12
websockets==12.0
youtube-dl==2021.12.17
yt-dlp==2023.11.16
